.header {
    padding: 1rem 4rem;
    display: flex;
    align-items: flex-start;
    height: 100px;
    /* width: 100%; */
    justify-content: right;
    background-color: #121212;
}

ul {
    list-style-type: none;
    text-align: right;
    margin: 50px 0px;
}

li.link {
    display: inline;
    text-align: right;
    margin-left: 50px;
}

li.link a {
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
}