

.icon-container {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    width: 140px;
    padding: 5px 20px;
    margin: 0 5px;
    border: 1px solid transparent;
    border-radius: 50px;
}

.icon-container p {
    color: #121212;
    margin-left: 15px;
}

.icon-container:hover {
    border: 1px solid #121212;
}