.about {
  padding: 4rem;
  color: #161A42;
}

.section-header-main {
  font-size: 40px;
}
.about-header {
  font-size: 30px;
  color: #161A42;
  border-bottom: 1px solid #121212;
}

.about-header span {
  font-size: 18px;
  font-weight: 200;
}
.fancy span {
  display: inline-block;
  position: relative;
  color: #121212;
}

.fancy span:before {
  right: 100%;
  margin-right: 15px;
}

.about-icon-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
}

p.section-description {
  font-size: 20px;
  color: 161A42;
}


.section-container {

  display: flex;
  width: 100%;
  
}
/* 
.section-container div {

  width: 50%;
}
 */


@media only screen and (min-width: 1025px) {
  .about {
    padding: 2rem 10rem;
  }
}
