.container {
  margin: 0 auto;
  max-width: 1000px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 100px;
}

.featured-title {
  width: 50%;
  margin-top: 20px;
}
.featured-img {
  width: 50%;
  position: relative;
}
.featured-img img {
  width: 100%;
  display: block;
  border-radius: 5px;
}

.work-title {
  font-size:1.5em;
}

.work-technology {
  font-style: italic;
  color: #161A42;
}


.work-redirect {
  all: unset;
  font-size: 14px;
  padding: 10px 50px;
  background-color: transparent;
  font-weight: bold;
  border-radius: 5px;
  color: #161A42;
  border: 1px solid #161A42;
}
.work-redirect:hover {
  all: unset;
  font-size: 14px;
  padding: 10px 50px;
  background-color: #161A42;
  font-weight: bold;
  border-radius: 5px;
  color: #FFF;
  border: 1px solid #161A42;
}


@media only screen and (max-width: 768px) {

  .work-redirect,
  .work-redirect:hover {
    width: 80%;
    text-align: center;
  }
  .featured-title {
    width: 90%;
  }

  .featured-img {
    width: 80%
  }
}
